:root {
  --color-accent: oklch(65% 50% 0);
}

html {
  accent-color: var(--color-accent);
}

nav {
  display: flex;
  border-bottom: 1px solid oklch(80% 3% 200);
  margin-bottom: 2em;
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a.current {
  border-bottom: 0.4em solid black;
  padding-bottom: 0.1em;
}

nav a:hover   {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 0.1em;
  background-color: oklch(from var(--color-accent) 95% 5% h)3
}
input,
textarea,
button {
  font: inherit;
}

label,
input,
textarea,
button {
  display: block;
}

input,
textarea {
  width: 100%;
  box-sizing: border-box;
}

label {
  margin-block: 0.5em;
}